.menu {
  background-color: #333;
  padding: 15px;
  text-align: center;
}

.menu a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

.menu a:hover {
  text-decoration: underline;
}
